/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Yellow Colour - rgb(237, 239, 177) */
/* Main Grey/Text Colour - #424040 */

/* Basic */
body {
    /* Targets Internet Explorer which hides scrollbar even if itis not needed*/
    -ms-overflow-style: scrollbar; 
}

@media screen and (max-width: 480px) {
    /* Prevents narrow layout - targeted for smaller screens*/
    html, body {
        min-width: 320px;
    }

}

html {
    /* Setting an elements Widht n Height inludes padding & border*/
    box-sizing: border-box;
}

*, *:before, *:after { /* applied to all elements */
    box-sizing: inherit;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(30deg, #b87cd0e2 15%, #1f3d61 85%); 

}
   
    body.is-preload *, body.is-preload *:before, body.is-preload *:after {
        -moz-animation: none !important;
        -webkit-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        -moz-transition: none !important;
        -webkit-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
    }

/* Wrapper */
#wrapper {
    width: 64em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
}

    @media screen and (max-width: 480px) {
        #wrapper {
            max-width: calc(100% - 2em);
        }
    }

    @media screen and (max-width: 360px) {
        #wrapper {
            max-width: 100%;
        }

    }

/* Header */
#header {
    /*background: linear-gradient(30deg, #3f3d89e2 15%, #7db6ee 85%);  */
    padding: 5em 5em 1em 5em ;
    text-align: center;
    color: rgb(237, 239, 177);
    
}
    #header h1 {
        margin: 0 0 0.25em 0;
    }

    #header p {
        font-size: 1.25em;
        letter-spacing: -0.025em;
        padding-bottom: 2em;

    }

    /*alt is the animation code*/
    #header.alt {
        padding: 7em 5em 4em 5em ;
    }

        #header.alt h1 {
            font-size: 7.5em;
        }

        #header.alt > * {
            -moz-transition: opacity 3s ease;
            -webkit-transition: opacity 3s ease;
            -ms-transition: opacity 3s ease;
            transition: opacity 3s ease;
            -moz-transition-delay: 0.5s;
            -webkit-transition-delay: 0.5s;
            -ms-transition-delay: 0.5s;
            transition-delay: 0.5s;
            opacity: 1;
        }

        

    /* Reduces padding to not take up too much space
    on medium-sized screens.*/
    @media screen and (max-width: 1280px) {

        #header {
            padding: 4em 4em 0.1em 4em ;
        }

            #header.alt {
                padding: 6em 4em 3em 4em ;
            }
    }


    /* Smaller devices*/
    @media screen and (max-width: 980px) {

        #header {
            padding: 4em 3em 0.1em 3em ;
        }

            #header.alt {
                padding: 5em 3em 2em 3em ;
            }

    }

    @media screen and (max-width: 736px) {

        #header {
            padding: 3em 2em 0.1em 2em ;
        }

            #header p {
                font-size: 1em;
                letter-spacing: 0;
            }

            #header.alt {
                padding: 4em 2em 1em 2em ;
            }

                #header.alt h1 {
                    font-size: 2.5em;
                }

    }

    @media screen and (max-width: 480px) {

        #header {
            padding: 3em 1.5em 0.1em 1.5em ;
        }

            #header.alt {
                padding: 4em 1.5em 1em 1.5em ;
            }

    }

    @media screen and (max-width: 360px) {

        #header {
            padding: 2.5em 1em 0.1em 1em ;
        }

            #header.alt {
                padding: 3.5em 1em 0.5em 1em ;
            }

    }
    
    /* Before animation */
    body.is-preload #header.alt > * {
        opacity: 0;
    }




/* Navigation */
#nav {
    -moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    -webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    -ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    width: 100%;
    padding: 1em 1em;
    background-color: #a8aec1;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    cursor: default;
    text-align: center; 
    position: relative;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    
}

    #nav blockquote {
			border-left-color: #dddddd;
		}

		#nav code {
			background: rgba(222, 222, 222, 0.25);
			border-color: #dddddd;
		}

		#nav hr {
			border-bottom-color: #dddddd;
		}


    #nav ul {
        list-style: none;
    }

        #nav ul li {
            -moz-transition: margin 0.2s ease;
            -webkit-transition: margin 0.2s ease;
            -ms-transition: margin 0.2s ease;
            transition: margin 0.2s ease;
            display: inline-block;
            margin: 0 1em;
            vertical-align: middle;
            
        }

            #nav ul li a {
                -moz-transition: font-size 0.2s ease;
                -webkit-transition: font-size 0.2s ease;
                -ms-transition: font-size 0.2s ease;
                transition: font-size 0.2s ease;
                display: inline-block;
                font-size: 25px;
                height: 2.25em;
                line-height: 2.25em;
                padding: 0 1.25em;
                border: 0;
                border-radius: 8px;
                box-shadow: inset 0 0 0 1px transparent;
                text-decoration: none;
                color: rgb(82, 57, 112);
                
            }

                #nav ul li a:hover {
                    background-color: rgba(49, 43, 43, 0.25);
                    color: rgb(237, 239, 177);
                }

                #nav ul li a.active {
                    background-color: #ddd0d0;
                    box-shadow: none;
                }

    #nav.alt {
        position: fixed;
        top: 0;
        padding: 0.5em 1em;
        background-color: #a8aec1;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index: 10000;

        cursor: default;
        text-align: center; 
		}

			#nav.alt ul li {
				margin: 0 0.175em;
			}

				#nav.alt ul li a {
					font-size: 0.9em;
				}

                    @media screen and (max-width: 1024px) {
                    #nav {
                        padding: 0.8em 1em;


                    }
        
                    #nav ul li a {
                        font-size: 18px;
                        height: 2em;
                        line-height: 2em;
                        padding: 0 1em;

                    }
    }
    
    @media screen and (max-width: 768px) {
        #nav {
            padding: 0.6em 1em;
        }
        
        #nav ul li a {
            font-size: 16px;
            height: 1.75em;
            line-height: 1.75em;
            padding: 0 0.8em;
        }
                }

                @media screen and (max-width: 480px) {
                    #nav {
                        padding: 0.5em 0.5em;
                        display:inline-flex;

                    }
                
                    #nav ul li {
                        margin: 0 0.5em;

                    }
                
                    #nav ul li a {
                        font-size: 14px;
                        height: 1.5em;
                        line-height: 1.5em;
                        padding: 0 0.6em;

                    }
                }

                


/* Spotlight */
.spotlight {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    gap: 3em;
    max-width: 1200px; /* keep it centered within a container */
    margin: 2em auto;  /* center the whole spotlight */
    padding: 0 2em;    /* add padding so content isn't too far left */
    padding-top: 1em;
    margin-bottom: 50px;
}

    .spotlight .content {
        -moz-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

        .spotlight .content > :last-child {
            margin-bottom: 0;
        }

        .spotlight .content header.major {
            margin: 0 0 2em 0;
        }

    .spotlight .image {
        display: inline-block;
        margin-left: 4em;
        padding: 0.65em;
        border-radius: 100%;
        border: solid 1px;
    }

        .spotlight .image img {
            display: block;
            border-radius: 100%;
            width: 16em;
        }

    @media screen and (max-width: 980px) {

        .spotlight {
            -moz-flex-direction: column-reverse;
            -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            text-align: column-reverse;
        }

            .spotlight .content {
                -moz-flex: 0 1 auto;
                -webkit-flex: 0 1 auto;
                -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                width: 100%;
            }

                .spotlight .content header.major h2:after {
                    margin-left: auto;
                    margin-right: auto;
                }

                .spotlight .content .actions {
                    -moz-justify-content: center;
                    -webkit-justify-content: center;
                    -ms-justify-content: center;
                    justify-content: center;
                    width: calc(100% + 1em);
                }

            .spotlight .image {
                -moz-flex: 0 1 auto;
                -webkit-flex: 0 1 auto;
                -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                margin-left: 0;
                margin-bottom: 2em;
            }

    }

    @media screen and (max-width: 736px) {

        .spotlight .image {
            padding: 0.35em;;
        }

            .spotlight .image img {
                width: 12em;
            }

    }

.spotlight .image {
    border-color: rgb(133, 133, 133);
}

/* Main content */
#main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
    -moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    -webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    -ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    position: relative;
    border-radius: 0.25em;
    background-color: #d4dde8;
    background-image: url('images/overlay2.png');
    background-repeat: repeat;    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



/* Intro text */
#main h2
{
    text-align: center;
    color: #424040;
    font-size: 36px;
}
#main p{
    text-align: center;
    color: #424040;
    font-size: 20px;
    margin-bottom:20px;
}


/* Intro links */
#intro a {
    color: #424040;
    text-decoration:underline;
    text-decoration-style: dashed;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

#intro a:hover{
    color: rgb(58, 10, 118);
    font-weight: bold;
    text-decoration:underline;
    text-decoration-style: solid;

}

/* Intro Button */
#intro a.button {
    border: 1.5px solid rgb(119, 113, 113);
    border-radius: 5px;
    color: rgb(29, 27, 27);
    padding: 15px 25px;
    text-decoration: none;
    display: inline-block; /*adding more buttons*/
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: #424040;

}

#intro .button:hover {
    background-color: #8e8f8c;
} 

.content {
    display: flex;
    flex-direction: column;
    align-items:center;
}

@media screen and (max-width: 768px) {
    #main h2 {
        font-size: 30px
    }
    
    #main p {
        font-size: 16px;
    }

    #intro a.button {
        border: 1.5px solid rgb(119, 113, 113);
        padding: 10px 20px;
        font-size: 16px;
        margin: 0px 0px;
    
    }
            }

            @media screen and (max-width: 480px) {
                #main h2 {
                    font-size: 20px
                }
                
                #main p {
                    font-size: 13px;
                }

                #intro a.button {
                    padding: 7px 10px;
                    font-size: 13px;
                
                }
            }


/* About Me */
#abme{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #424040;
    text-align: left;
}

#abme h1{
    font-size: 26px;
    text-align: left;

}

#abme .workExp h2{
    margin: 20px 0px 5px;;
    font-size: 30px;
    text-align: left;
}

#abme .workExp h3{
    margin: 5px 0px 1px;;
    font-size: 20px;
    text-align: left;
}

#abme .workExp h4{
    margin: 2px 0px 2px;;
    font-size: 20px;
    text-align: left;
    padding-bottom: 2px;
}

#abme ul li{
    margin: 0px 5px 1px;
    margin-left: 5px; //stopped here
    font-size: 15px;
    text-align: left;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #000;
}

.grid-item {
    border: 1px solid #000;
    padding: 20px;
    flex: 1;
    margin: 10px 20px;
}

/* Projects page */
.project {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}



/* Testimonials */
.testimonials {
    margin: 40px 0;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.testimonial {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* Contacts */



/* Footer */
footer {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5em 5em 3em 5em ;
    width: calc(100% + 2em);
    margin: 0 0 3em -2em;
}


